body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.blue-color{
    color: blue;
}
.flexible-cointainer{
    display: flex;
    margin-bottom: 150px;
    background-color: white;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 80%;
    

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,rgb(188, 224, 228));
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/dr-sign2.jpg);
    background-color: white;
    
    background-repeat: no-repeat;
    padding-left: 7px;
}
.dream-big{
    background-image: url(images/dr-sign1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 85px;
    background-size: 250px;
    background-color: white;
}
.experience-area{
    background-image: url(images/p2.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size:190px;
    padding: 10px 10px;
    
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    
}
#dr-port{
       border-left: 7px solid;
       border-top: 7px solid;
       border-image: linear-gradient(rgb(18, 18, 167),cyan);
       border-image-slice: 1;
}
footer p {
    text-align: center;
}

