body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.blue-color{
    color: blue;
}
section{
    display: flex;
    margin-bottom: 150px;
    background-color: white;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
    
   
}
.half-width img{
    width: 80%;
    

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,rgb(188, 224, 228));
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/dr-sign2.jpg);
    background-color: white;
    
    background-repeat: no-repeat;
    padding-left: 7px;
}
.dream-big{
    background-image: url(images/dr-sign1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 85px;
    background-size: 250px;
    background-color: white;
}
